@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    background-color: #23272a;
}

.pagination {
    $color: #7289da;

    & .page-item {
        &.active .page-link {
            background-color: $color;
            border-color: $color;
        }

        &:not(.active) .page-link {
            color: $color;
        }
    }
}
